<!DOCTYPE html>
<html lang="pt-br">

<head>


<meta charset="UTF-8">
<title>Catálogo de Vendedores</title>

<link rel="stylesheet" href="{{ url_for('static',filename='google-fonts.css') }}">
<link rel="stylesheet" href="{{ url_for('static',filename='materialize.css') }}">
<link rel="stylesheet" href="{{ url_for('static',filename='estilos.css') }}">


</head>


<body>


<div class = "container">


    <h1 class="center">Edit Vendor</h1>



    

    <div class="all_forms">

        {% for document in data %}

        <div class="form-new-vendor card-panel" >

        <h3>Vendor</h3>

        <h3 class="form-title">Name</h3>

        <input type="text" value = "{{ document.Name }}" name="Name" placeholder="WRITE NAME HERE" class="search-input name-vendor" required/>

        <h3 class="form-title">City</h3>

        <input type="text" name="City" value = "{{ document.City }}" placeholder="WRITE CITY HERE" class="search-input city-vendor" required/>

        <h3 class="form-title">CNPJ</h3>

        <input type="text" name="CNPJ" value = "{{ document.CNPJ }}" placeholder="WRITE CNPJ HERE" class="search-input cnpj-vendor" required/>




        <input type="text" value = "{{ document.Name }}" name="Name" placeholder="WRITE NAME HERE" class="search-input name-vendor name-vendor-old old"/>

        <input type="text" name="City" value = "{{ document.City }}" placeholder="WRITE CITY HERE" class="search-input city-vendor city-vendor-old old" />

        <input type="text" name="CNPJ" value = "{{ document.CNPJ }}" placeholder="WRITE CNPJ HERE" class="search-input cnpj-vendor cnpj-vendor-old old" />

        <input type="text" name="CNPJ" value = "{{ document.products }}" placeholder="WRITE CNPJ HERE" class="search-input edit-products old" />

        
        
        </div>

        {% endfor %}


        <div class="form-new-product card-panel" >

            <h3>Products</h3>

            <h3 class="form-title">Name</h3>
    
            <input type="text" name="test" placeholder="WRITE NAME HERE" class="search-input name-product" />
    
            <h3 class="form-title">Code</h3>
    
            <input type="text"  name="test" placeholder="WRITE CODE HERE" class="search-input code-product" />
    
            <h3 class="form-title">Price</h3>
    
            <input type="text" name="test" placeholder="WRITE PRICE HERE" class="search-input price-product" />

    
            <a class="waves-effect waves-light btn-small button-add-product" ><i class="material-icons left">add</i>Add Product</a>
            
            
            
        </div>


        <div class="buttons">
        
       
            <a class="waves-effect waves-light btn-large" href = "{{ url_for('index')}}"><i class="material-icons left">arrow_back</i>Back</a>
            
        
            <a class="btn btn-primary button-edit-vendor" href = "{{ url_for('index')}}" ><i class="material-icons left">edit</i>Edit</a>
        
        
        </div>

    </div>
        
 

    
    <h1 class="center">List Products</h1>



    <table class="centered bordered listProducts">

        <thead>

            <tr>

                <th>Name</th>
                <th>Code</th>
                <th>Price</th>
                <th>Remove</th>


            </tr>


        </thead>
    
        <tbody class="tbody_products">

            {% for document in data %}

            {% for product in document.products %}

            <tr>

            <td class="name-product">{{ product.name }}</td>
            <td class="code-product">{{ product.code }}</td>
            <td class="price-product">{{ product.price }}</td>
            <td><a class="remove-button-products" href="#"><i class="small material-icons">delete</i></a></td>

            </tr>

            {% endfor %}
            {% endfor %}
            
    </tbody>

</table>


</div>


<script src="{{ url_for('static',filename='jquery.js') }}"></script>
    
<script type="text/javascript" src="{{ url_for('static',filename='edit.js') }}"></script>



</body>
</html>
